#ifndef APP_VERSION_H
#define APP_VERSION_H

#define APP_VERSION_MAJOR @APP_VERSION_MAJOR@
#define APP_VERSION_MINOR @APP_VERSION_MINOR@
#define APP_VERSION_PATCH @APP_VERSION_PATCH@
#define APP_BUILD_NUMBER  @APP_BUILD_NUMBER@
#define APP_BUILD_TIMESTAMP L"@APP_BUILD_TIMESTAMP@"
#define APP_VERSION_STRING  L"@APP_VERSION_STRING@"
#define APP_VERSION_ASCII   "@APP_VERSION_STRING@"

#endif
